<div id="welcomeContainer">
  <link type="text/css" rel="stylesheet" href="./assets/css/style.css">
  <div align="center">
    <script src="./assets/js/scripts/selection.js"></script>
    <button id="launch2">Cracked Login</button>
    <button id="launching">Mojang Login</button>
  </div>

  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>